body {
    font-family: "Roboto";
    background-color: #09002e;
}

.Navigation_head .nav-link {
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui;
    color: #478ecf;


}

.Navigation_head .nav-link:hover {
    color: black;

}

.Navigation_head .navbar-toggler.collapsed {
    border: none;
}

.Navigation_head .navbar-brand {
    font-weight: 800;
    font-size: 55px;
    font-family: cursive;
    background: linear-gradient(76deg, #55255e, #1b0328);
    border-radius: 56px;
    padding: 15px;
    color: white;
}

.Navigation_head .nav_bg {

    padding: 15px;
}

.Navigation_head .navbar-nav {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.d_color {
    background: linear-gradient(50deg, #ad4a60, #130648 39.28%, #2c0240 35.97%, #ffbc00 45.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: -webkit-xxx-large;
}

.banne_head h1 {
    font-weight: 800;
    font-size: 54px;
    font-family: system-ui;
    color: white;
}

#banner_lay {
    margin: 5% 0px 5% 0px
}

.banne_head p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: justify;
    color: white;
}
#banner1 {
    clip-path: polygon(0 0, 100% 0, 100% 69%, 0 100%);
    padding-bottom: 2%;
}
.img_responsive {
    width: 100%;
    height: auto;
}

.b_pop {
    width: 85%;
    float: right;
    margin-top: 10%;
}

.banne_head h4 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 17px;
    color: #ffffff;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: system-ui;
}

.banne_img:before {
    content: '';
    position: absolute;
    width: 30%;
    height: 60%;
    left: 54%;
    background: linear-gradient(50deg, #0b0036, #070024 31.28%, #220328 77.97%, #343203 95.64%);
    z-index: -1;
    top: 30%;
}

.banne_head .nav-link {
    font-weight: 800;
    font-size: 17px;
    color: #478ecf;
    font-family: system-ui;
    letter-spacing: 1px;
}

.banne_head .btn-primary:hover {
    background: linear-gradient(50deg, #714dff, #9c83ff 31.28%, #e151ff 77.97%, #fff759 95.64%);
    color: white;
}

.banne_head .btn-warning:focus {
    background: #fff759;
    color: black;
}

.banne_head .btn-primary {
    font-weight: 600;
    color: #714dff;
    box-shadow: 0 2px 5px rgba(112, 60, 60, 0.26);
    margin-right: 5%;
    padding: 8px 40px;
    background: white;
    letter-spacing: 1px;
    border: 0px;
    font-size: 14px;
}

.banne_head .btn-warning {
    font-weight: 600;
    background: linear-gradient(50deg, #714dff, #9c83ff 31.28%, #e151ff 77.97%, #fff759 95.64%);
    color: white;
    box-shadow: 0 2px 5px rgba(112, 60, 60, 0.26);
    margin-right: 5%;
    padding: 8px 40px;
    letter-spacing: 1px;
    border: 0px;
    font-size: 14px;
}

/* Banner 2 */

#banner2 {
    width: 100%;
    padding: 3% 10%;
    text-align: center;
    color: white;
    margin-bottom: 0%;
}

.email_claim h2 {
    font-weight: 800;
    letter-spacing: 1px;
    font-family: system-ui;
    padding-bottom: 1%;
    font-size: 30px;
    background: linear-gradient(45deg, #714dff, #9c83ff 24.28%, #e151ff 66.97%, #fff759 34.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email_claim p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
    font-weight: 500;
    font-family: system-ui;
}

.email_in {
    width: 60%;
    display: flex;
    margin-left: 20%;
}

.email_claim #button-addon2 {
    font-size: 13px;
    font-family: system-ui;
    font-weight: 700;
}

.email_claim input.form-control {
    font-size: 11px;
    letter-spacing: 1px;
    font-family: system-ui;
    color: #215d95;
}

a {
    text-decoration: none;
    color: white;
}


/* Add contact */
.contact_add h5 {
    font-size: 30px;
    font-family: system-ui;
    padding-bottom: 1%;
    font-weight: 800;
    background: linear-gradient(45deg, #714dff, #9c83ff 24.28%, #e151ff 66.97%, #fff759 34.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact_info h5 {
    font-size: 30px;
    font-family: system-ui;
    padding-bottom: 1%;
    font-weight: 800;
    color: #ffffff;
}

#con_list {
    width: 75%;
}

.mar_top {
    margin-top: 5%;
}

.contact_add,
.contact_list p {
    font-family: system-ui;
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

.contact_info p {
    font-family: system-ui;
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

#Contact_li {
    width: 55%;
    padding: 3%;
    color: white;
    border: 1px solid #444444;
    box-shadow: 2px 10px 134px #394eb34a;
}

input.form-control {
    font-size: 11px;
    letter-spacing: 1px;
    font-family: system-ui;
    color: #215d95;
    padding: 15px;
    border: none;
    border-radius: 0px;
}

.form_con button.btn_p.btn.btn-warning {
    font-size: 13px;
    font-weight: 800;
}

.item_list {
    cursor: pointer;
    padding: 3%;
    font-weight: 600;
    font-size: 12px;
    margin-top: 1%;
    background: #0d0d1b;
    transition: 0.5s;
    position: relative;
    height: 100px;
}

.item_list:hover {

    transition: 0.5s;
    margin-left: 10px;
}

.item_list h2 {
    margin: 0px 0px 0px 0px;
    padding: 1% 0px 0px 0px;
    font-size: 20px;
    font-weight: 700;
    font-family: system-ui;
    width: 80%;
    color: white;
}

.item_list p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    width: 80%;
    color: white;
}

.del_ico {
    color: #580202;
    float: right;
    position: absolute;
    top: 40%;
    right: 6%;
    font-size: 12px;
}

.edit_ico {
    color: #0f6205d1;
    float: right;
    position: absolute;
    top: 40%;
    right: 16%;
    font-size: 12px;
}

.item_list .css-i4bv87-MuiSvgIcon-root {
    width: 20px;
    cursor: pointer;
}

.img_res.image {
    width: 12%;
    padding-bottom: 2%;
    float: left;
    padding-right: 2%;
    max-width: 12%;
}

.contact_add .btn-outline-success {
    font-weight: 700;
    font-size: 13px;
    background: linear-gradient(34deg, #714dff, #9c83ff 24.28%, #e151ff 83.97%, #fff759 30.64%);
    color: white;
    border: 1px solid #ffffff40;
}

.contact_add .btn-outline-warning {
    font-weight: 700;
    font-size: 13px;
    background: linear-gradient(34deg, #714dff, #9c83ff 24.28%, #e151ff 83.97%, #fff759 30.64%);
    color: white;
    border: 1px solid #ffffff40;
}

.contact_add .btn-outline-warning:focus {
    font-weight: 700;
    font-size: 13px;
    background: linear-gradient(34deg, #714dff, #9c83ff 24.28%, #e151ff 83.97%, #fff759 30.64%);
    color: white;
    border: 1px solid #ffffff40;
}

.contact_add .btn-outline-success:hover {
    font-weight: 700;
    font-size: 13px;
    background: white;
    border: 1px solid #e151ff;
    color: #e151ff;
}

.contact_add {
    background: #ffffff0d;
    padding: 25px;
    color: white;
}

.contact_add:before {
    background: #ffffff0d;

}

.cont_logout {
    display: flex;
    justify-content: flex-end;
}

.cont_logout p {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #ffffff;
}

/* Contact Detail */

.contact_Detail img {
    width: 20%;
    padding-bottom: 2%;
    padding-right: 2%;
}

.detail_list h2 {
    font-weight: 800;
    font-size: 20px;
    font-family: system-ui;
    letter-spacing: 1px;
    padding-left: 10px;
}

.detail_list p {
    font-weight: 600;
    font-size: 16px;
    font-family: system-ui;
    letter-spacing: 1px;
    padding-left: 10px;
}

.contact_Detail {
    background: #ffffff00;
    padding: 6%;
    text-align: center;
    border: 1px solid #80808070;
    color: white;
}

.contact_list a {
    color: black;
}

/* About Us */
.progress_bar_effect {
    margin-top: 5%;
}

.progress_bar_effect .progress {
    margin: 3% 0px 3% 0px;
}

.progress_bar_effect H3 {
    font-size: 15px;
    font-weight: 800;
    font-family: system-ui;
    letter-spacing: 1px;
    color: #202020;
}

#banner_list {
    margin-top: 11%;
}

.banne_future {
    color: white;
    font-family: system-ui;
    letter-spacing: 1px;
    border-bottom: 1px solid #8080807a;
    margin-bottom: 5%;
    width: 80%;
    transition: 0.5s;
}

.banne_future:hover {
    cursor: pointer;
    transition: 0.5s;
}

.banne_future h1 {
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 8px;
}

.banne_future p {
    font-size: 18px;
    padding-bottom: 17px;
}

.banne_future1 {
    color: #ffffff59;
    font-family: system-ui;
    letter-spacing: 1px;
    border-bottom: 1px solid #8080807a;
    margin-bottom: 5%;
    width: 80%;
    transition: 0.5s;
    margin-left: 10%;
    background: linear-gradient(50deg, #714dff, #9c83ff 31.28%, #e151ff 77.97%, #fff759 95.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banne_future1:hover {
    cursor: pointer;
    transition: 0.5s;
}

.banne_future1 h1 {
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 8px;
}

.banne_future1 p {
    font-size: 14px;
    padding-bottom: 17px;
}

#about_list {
    margin-top: 11%;
    background: #ffc519;
}
#about_list {
    margin-top: 5%;
    border-right: 20px solid #9e81ff;
    background: #0d045b;
    padding: 5% 0px 5% 0px;
    border-radius: 10px;
    position: relative;
}

.mine_future h1 {
    font-weight: 800;
    font-family: system-ui;
    color: white;
    font-size: 40px;
}
.mine_future {
    width: 80%;
}
.mine_future p {
    font-weight: 600;
    font-family: system-ui;
    color: white;
    font-size: 15px;
}
.why_me {
    background: white;
    padding: 9% 5% 5% 2%;
    position: absolute;
    width: 30%;
    top: 0%;
    height: 100%;
    color: #09002e;
    font-weight: 800;
    font-family: system-ui;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.why_me h2 {
    color: #09002e;
    font-family: system-ui;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
}